{% extends 'base.html.twig' %}
{% block title %} Qui sommes-nous? {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="block hidden-sm hidden-xs">
                <div class="widget-title"><span>Les Adherants</span></div>
                <div class="row">
                    <div class="col-md-12 partenaires">
                        <ul class="liste-partenaires">
                            <li><div>1 ENTREPRISE </div></li>
                            <li><div>2 ENTREPRISE</div></li>
                            <li><div>3 ENTREPRISE</div></li>
                            <li><div>4 ENTREPRISE</div></li>
                            <li><div>5 ENTREPRISE</div></li>
                            <li><div>6 ENTREPRISE</div></li>
                            <li><div>7 ENTREPRISE</div></li>
                            <li><div>8 ENTREPRISE</div></li>
                            <li><div>9 ENTREPRISE</div></li>
                            <li><div>10 ENTREPRISE</div></li>
                            <li><div>11 ENTREPRISE</div></li>
                            <li><div>12 ENTREPRISE</div></li>
                            <li><div>13 ENTREPRISE</div></li>
                            <li><div>14 ENTREPRISE</div></li>
                            <li><div>15 ENTREPRISE</div></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-sm-12">
            <article class="post-detail">
                <div class="alert alert-danger" role="alert">
                    <i class="fa fa-exclamation-triangle fa-2x"></i>
                    <span style="font-size: 1.2em;"><strong>Vous devez être connecté pour acceder au contenu complet de cette page</strong></span>
                </div>
                <h1>Procédures GHI</h1>
                <div class="row">
                    <div class="col-md-7 col-sm-7">
                        <div class="begin-member bg-degrade">
                            <div class="title">Rejoignez-nous <a href="#">Devenez membre !</a></div>
                            <div class="button">
                                <button class="btn btn-bulletin">Bulletin d'adhésion</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 acces-membre">
                        <i class="fa fa-users fa-2x"></i> <span class="">Accès membres</span>
                        <div class="row form-connexion">
                            <div class="form-group">
                                <label for="identifiant">Indentifiant</label>
                                <input type="text" name="identifiant" class="form-control" placeholder="Identifiant" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="text" name="password" class="form-control" placeholder="Mot de passe" autocomplete="off">
                            </div>
                            <div class="text-right"><button class="btn btn-primary">Connexion</button></div>
                            <div class="password-forget">
                                <a href="#" class="">Vous avez oublié votre mot de passe ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <div class="row rex">
                <div class="col-md-12 col-md-offset-0 col-sm-8 col-xs-12 hidden-xs">
                    <div class="box-caption">
                        <span> Entreprises certifiées</span>
                    </div>
                    <div class="owl-carousel owl-special">
                        <div class="row carousel-partenaire-certifie">
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                        </div>
                        <div class="row carousel-partenaire-certifie">
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                            <div class="col-md-3">
                                <a href="#" class="text-center">
                                    <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                                </a>
                                <h3><a href="#">ENTREPRISE A </a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}