{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <section class="owl-carousel owl-special">
                <div>
                    <article class="spotlight-item">
                        <div class="spotlight-img">
                            <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-01.jpg')) }}" class="img-responsive" />
                        </div>
                    </article>
                </div>
                <div>
                    <article class="spotlight-item">
                        <div class="spotlight-img">
                            <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-02.jpg')) }}" class="img-responsive" />
                        </div>
                    </article>
                </div>
                <div>
                    <article class="spotlight-item">
                        <div class="spotlight-img">
                            <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-04.jpg')) }}" class="img-responsive" />
                        </div>
                    </article>
                </div>
            </section>

            <section class="box-news">
                <div class="box-caption">
                    <span> Mission</span>
                </div>
                <article class="news-two-large news-three-large">
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <a href="#">
                                <img alt="" src="{{ absolute_url(asset('ressources/images/agenda-01.jpg')) }}" />
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <p>Lacinia faucibus consectetuer vestibulum elit quisque at et ultrices sed libero. Ut nam eu nunc enim curabitur non metus eu turpis eget. Aenean laoreet vitae morbi vestibulum vestibulum sociis tellus interdum cras.</p>
                        </div>
                    </div>


                </article>
            </section>
            <section class="spotlight-thumbs">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-caption">
                            <span> Actualités</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-03.jpg')) }}" />
                                </a>
                            </div>
                            <h3><a href="#">Donald Trump suggests the DNC was hacked by 'someone sitting on their bed that weighs 400 lbs'</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Sue	Benson
                                </a>
                                <em></em>
                                <span>
                                            22 Sep 2016
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-04.jpg')) }}" />
                                </a>
                            </div>
                            <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Marion	Craig
                                </a>
                                <em></em>
                                <span>
                                            21 Sep 2016
                                        </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="spotlight-item-thumb">
                            <div class="spotlight-item-thumb-img">
                                <a href="#">
                                    <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-02.jpg')) }}" />
                                </a>
                            </div>
                            <h3><a href="#">Messenger Bots Are Overhyped, Underpowered—and Growing like Crazy</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    Super User
                                </a>
                                <em></em>
                                <span>
                                            26 Sep 2016
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <div class="col-md-4 col-sm-12">
            <ul role="tablist" class="tab-popular">
                <li class="active">
                    <a href="#tab1" role="tab" data-toggle="tab">
                        AGENDA
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="tab1">
                    <ul class="list-news-popular">
                        <li>
                            <a href="#">
                                <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-01.jpg')) }}" width="100">
                            </a>
                            <h3><a href="#">Avis d'utilisation de Manilles /Rappel</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolorum modi...</p>
                            <div class="meta-post">
                                <a href="#">
                                    <i class="fa fa-calendar"></i> 27-12-2019
                                </a>
                                <em></em>
                                <span>
                                           <i class="fa fa-clock-o"></i> 16:06
                                        </span>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-02.jpg')) }}">
                            </a>
                            <h3><a href="#">Avis d'utilisation de Manilles /Rappel</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    <i class="fa fa-calendar"></i> 27-12-2019
                                </a>
                                <em></em>
                                <span>
                                           <i class="fa fa-clock-o"></i> 16:06
                                        </span>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-01.jpg')) }}">
                            </a>
                            <h3><a href="#">Avis d'utilisation de Manilles /Rappel</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    <i class="fa fa-calendar"></i> 27-12-2019
                                </a>
                                <em></em>
                                <span>
                                           <i class="fa fa-clock-o"></i> 16:06
                                        </span>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img alt="" src="{{ absolute_url(asset('ressources/images/slider/slide-04.jpg')) }}">
                            </a>
                            <h3><a href="#">Avis d'utilisation de Manilles /Rappel</a></h3>
                            <div class="meta-post">
                                <a href="#">
                                    <i class="fa fa-calendar"></i> 27-12-2019
                                </a>
                                <em></em>
                                <span>
                                           <i class="fa fa-clock-o"></i> 16:06
                                        </span>
                            </div>
                        </li>

                    </ul>
                    <div class="text-right all-agenda">
                        ...<a href="#">Voir tout l'agenda</a>
                    </div>

                </div>
            </div>

            <div class="connect-us">
                <div class="widget-title">
                    <span>Nos Adherants</span>
                </div>
                <div class="row">
                    <div class="col-md-12 partenaires">
                        <ul class="liste-partenaires">
                            <li><div>1 ENTREPRISE </div></li>
                            <li><div>2 ENTREPRISE</div></li>
                            <li><div>3 ENTREPRISE</div></li>
                            <li><div>4 ENTREPRISE</div></li>
                            <li><div>5 ENTREPRISE</div></li>
                            <li><div>6 ENTREPRISE</div></li>
                            <li><div>7 ENTREPRISE</div></li>
                            <li><div>8 ENTREPRISE</div></li>
                            <li><div>9 ENTREPRISE</div></li>
                            <li><div>10 ENTREPRISE</div></li>
                            <li><div>11 ENTREPRISE</div></li>
                            <li><div>12 ENTREPRISE</div></li>
                            <li><div>13 ENTREPRISE</div></li>
                            <li><div>14 ENTREPRISE</div></li>
                            <li><div>15 ENTREPRISE</div></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row faq" id="faq">
        <div class="col-md-8">
            <section class="spotlight-thumbs">
                <div class="box-caption">
                    <span> Foire Aux Questions</span>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Question #1
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Question #2
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Question #3
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-4">
            <div class="subcribe-box">
                <h3>NEWSLETTER</h3>
                <p>Abbonez-vous a notre Newsletter pour recevoir les informations</p>
                <input type="text" placeholder="Votre adresse Email..." />
                <button class="my-btn">S'inscrire</button>
            </div>
        </div>
    </div>
    <div class="row rex" id="rex">
        <div class="col-md-12 col-md-offset-0 col-sm-8 col-xs-12 hidden-xs">
            <div class="box-caption">
                <span> Retour d'Expériences</span>
            </div>
            <div class="owl-carousel owl-special">
                <div>
                    <div class="special-rex text-center">
                        <a href="#" class="text-center">
                            <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                        </a>
                        <h3><a href="#">ENTREPRISE A </a></h3>
                        <div class="meta-post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet ea error fuga fugiat hic inventore ipsum itaque mollitia nemo nostrum pariatur perferendis quidem quis saepe sapiente sit, tempora voluptate.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet ea error fuga fugiat hic inventore ipsum itaque mollitia nemo nostrum pariatur perferendis quidem quis saepe sapiente sit, tempora voluptate.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="special-rex text-center">
                        <a href="#" class="text-center">
                            <img alt="" src="{{ asset('ressources/images/logo-mase-ci.png') }}"  />
                        </a>
                        <h3><a href="#">ENTREPRISE B </a></h3>
                        <div class="meta-post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet ea error fuga fugiat hic inventore ipsum itaque mollitia nemo nostrum pariatur perferendis quidem quis saepe sapiente sit, tempora voluptate.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet ea error fuga fugiat hic inventore ipsum itaque mollitia nemo nostrum pariatur perferendis quidem quis saepe sapiente sit, tempora voluptate.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}